<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- MyBatis 로그를 표준 출력으로 설정 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.or.iei.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.or.iei.board.model.vo.Board" alias="board"/>
		<typeAlias type="kr.or.iei.member.model.vo.Expert" alias="expert"/>
		<typeAlias type="kr.or.iei.board.model.vo.BoardFile" alias="boardFile"/>
		<typeAlias type="kr.or.iei.board.model.vo.BoardComment" alias="boardComment"/>
		<typeAlias type="kr.or.iei.chat.model.vo.Room" alias="room"/>
      	<typeAlias type="kr.or.iei.chat.model.vo.Chat" alias="chat"/>
		<typeAlias type="kr.or.iei.board.model.vo.CommentReact" alias="commentReact"/>
		<typeAlias type="kr.or.iei.board.model.vo.MoveStin" alias="moveStin"/>
		<typeAlias type="kr.or.iei.expert.model.vo.ExpertManagement" alias="expertManagement"/>
		<typeAlias type="kr.or.iei.admin.model.vo.Report" alias="report"/>
	</typeAliases>
	
	
</configuration>


