<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="autoRes">
	
	<!-- 자동응답 리스트 조회 -->
    <select id="getResponseList" parameterType="string" resultType="autoRes">
        SELECT response_no AS responseNo,
               member_no AS memberNo,
               trigger_word AS triggerWord,
               response_content AS responseContent,
               response_date AS responseDate,
               is_active AS isActive
        FROM tbl_auto_response
        where member_no = #{memberNo}
        ORDER BY response_date DESC
    </select>

    <!-- 자동응답 추가 -->
    <insert id="insertResponse">
        INSERT INTO tbl_auto_response (
            response_no,
            member_no,
            trigger_word,
            response_content,
            response_date,
            is_active
        ) VALUES (
            TO_CHAR(SYSDATE, 'YYYYMMDDHH24MI') || LPAD(seq_autoRes.NEXTVAL, 4, '0'),
            #{memberNo},
            #{triggerWord},
            #{responseContent},
            SYSDATE,
            'Y'
        )
    </insert>
	
	<!-- 자동응답 on/off 업데이트 -->
	<update id="updateAutoResState" parameterType="map">
	    UPDATE tbl_auto_response
	    SET is_active = #{state}
	    WHERE member_no = #{memberNo}
	</update>
	
	<select id="getAutoResState" parameterType="string" resultType="string">
	    SELECT is_active
	    FROM tbl_auto_response
	    WHERE member_no = #{memberNo}
	    AND ROWNUM = 1
	</select>
	
	<delete id="deleteResponse" parameterType="String">
	    DELETE FROM tbl_auto_response
	    WHERE response_no = #{responseNo}
	</delete>

	<!-- 현재 채팅방 참여 전문가의 자동응답 리스트 조회 -->
    <select id="getExpertAutoResListByRoomId" resultType="autoRes">
        SELECT
		    TBL_AUTO_RESPONSE.response_no AS responseNo,
		    TBL_AUTO_RESPONSE.trigger_word AS triggerWord,
		    TBL_AUTO_RESPONSE.response_content AS responseContent,
		    TBL_AUTO_RESPONSE.response_date AS responseDate,
		    TBL_AUTO_RESPONSE.is_active AS isActive,
		    TBL_WHOLE_MEMBER.member_no AS expertMemberNo,
		    nickname_data.member_nickname AS expertNickname
		FROM TBL_AUTO_RESPONSE
		INNER JOIN TBL_CHAT_MEMBERS
		    ON TBL_AUTO_RESPONSE.member_no = TBL_CHAT_MEMBERS.member_no
		INNER JOIN TBL_WHOLE_MEMBER
		    ON TBL_CHAT_MEMBERS.member_no = TBL_WHOLE_MEMBER.member_no
		LEFT JOIN (
		    SELECT 
		        member_no,
		        member_nickname
		    FROM TBL_EXCO
		    UNION ALL
		    SELECT 
		        member_no,
		        member_nickname
		    FROM TBL_KAKAO_EXCO
		    UNION ALL
		    SELECT 
		        member_no,
		        member_nickname
		    FROM TBL_NAVER_EXCO
		) nickname_data
		    ON TBL_WHOLE_MEMBER.member_no = nickname_data.member_no
		WHERE
		    TBL_CHAT_MEMBERS.room_id = #{roomId} -- 해당 채팅방
		    AND TBL_WHOLE_MEMBER.member_type IN (4, 5, 6) -- 전문가
		ORDER BY TBL_AUTO_RESPONSE.response_date DESC
    </select>
</mapper>
