<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<!-- 게시글 조회  -->
	<select id="selectBoardList"
			parameterType = "hashmap"
			resultType = "board">
	SELECT B.BOARD_NO AS boardNo,
        NICK.MEMBER_NICKNAME AS boardWriter,
        B.BOARD_TYPE AS boardType,
        B.BOARD_TITLE AS boardTitle,
        B.BOARD_CONTENT AS boardContent,
        CASE
           WHEN EXTRACT(DAY FROM (SYSTIMESTAMP - B.BOARD_DATE)) > 0 THEN
               FLOOR(EXTRACT(DAY FROM (SYSTIMESTAMP - B.BOARD_DATE))) || ' 일 전'
           WHEN EXTRACT(HOUR FROM (SYSTIMESTAMP - B.BOARD_DATE)) > 0 THEN
               FLOOR(EXTRACT(HOUR FROM (SYSTIMESTAMP - B.BOARD_DATE))) || ' 시간 전'
           WHEN EXTRACT(MINUTE FROM (SYSTIMESTAMP - B.BOARD_DATE)) > 0 THEN
               FLOOR(EXTRACT(MINUTE FROM (SYSTIMESTAMP - B.BOARD_DATE))) || ' 분 전'
           ELSE
               FLOOR(EXTRACT(SECOND FROM (SYSTIMESTAMP - B.BOARD_DATE))) || ' 초 전'
        END AS boardDate,
        B.BOARD_COUNT AS boardCount,
        B.BOARD_LIKE AS boardLike,
        B.BOARD_DISLIKE AS boardDislike
    FROM (
	      SELECT ROWNUM RNUM, B.* 
	      FROM
               ( 
	               SELECT B.*
	               FROM TBL_BOARD B
	               WHERE B.BOARD_TYPE = #{boardType}
	               ORDER BY B.BOARD_DATE DESC
               ) B
	      ) B
    LEFT JOIN (SELECT W.MEMBER_NICKNAME, W.MEMBER_NO
            FROM (
                SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_EXCO
                UNION ALL
                SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_KAKAO_EXCO
                UNION ALL
                SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_NAVER_EXCO
            )W)NICK
    ON B.MEMBER_NO = NICK.MEMBER_NO
    WHERE RNUM BETWEEN #{start} AND #{end}
    ORDER BY B.BOARD_DATE DESC
	</select>
	
	<!-- 전체 게시글 개수 조회 -->
	<select id="selectBoardCount"
			parameterType="_int"
			resultType="_int">
	SELECT COUNT(*)
	FROM TBL_BOARD
	WHERE BOARD_TYPE = #{boardType}
	</select>
	
	<select id="createBoardNo"
		resultType="string">
		SELECT TO_CHAR(SYSDATE, 'YYYYMMDDHH24MI') || LPAD(SEQ_MEMBER.NEXTVAL, 4, '0') FROM DUAL
	</select>
	
	<select id="insertBoard"
		parameterType="board">
	INSERT INTO TBL_BOARD
	(
		BOARD_NO,
        MEMBER_NO,
        BOARD_TYPE,
		BOARD_TITLE,
		BOARD_CONTENT
	)
	VALUES
	(
		#{boardNo},
        #{memberNo},
        #{boardType},
		#{boardTitle},
		#{boardContent}
	)
	</select>
	
	<select id="viewByBoardNo"
	parameterType="string"
	resultType="board">
	SELECT 
    BOARD_NO AS boardNo,
    MEMBER_NO AS memberNo,
    (SELECT W.MEMBER_NICKNAME
     FROM (
         SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_EXCO
         UNION ALL
         SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_KAKAO_EXCO
         UNION ALL
         SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_NAVER_EXCO
     ) W
     WHERE W.MEMBER_NO = TBL_BOARD.MEMBER_NO) AS boardWriter,
    BOARD_TYPE AS boardType,
    BOARD_TITLE AS boardTitle,
    BOARD_CONTENT AS boardContent,
    BOARD_DATE AS boardDate,
    BOARD_COUNT AS boardCount,
    BOARD_LIKE AS boardLike,
    BOARD_DISLIKE AS boardDislike
	FROM TBL_BOARD
	WHERE BOARD_NO = #{boardNo}
	</select>
	
	<update id="updateReadByboardNo"
	parameterType="string">
	UPDATE
		TBL_BOARD
	SET
		BOARD_COUNT = BOARD_COUNT + 1
	WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="readFileByBoardNo"
	parameterType="string"
	resultType="boardFile">
	SELECT
	    FILE_NO AS fileNo,
	    BOARD_NO AS boardNo,
	    FILE_NAME AS fileName,
	    FILE_PATH AS filePath
	FROM TBL_FILE WHERE BOARD_NO=#{string}
	</select>
	
	<select id="readCommentListByBoardNo"
	parameterType="string"
	resultType="boardComment">
	SELECT
	    COMMENT_NO AS commentNo,
	    BOARD_NO AS boardNo,
        MEMBER_NO AS memberNo,
	    (SELECT W.MEMBER_NICKNAME
	        FROM (
	        SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_EXCO
	        UNION ALL
	        SELECT MEMBER_NO, MEMBER_NICKNAME  FROM TBL_KAKAO_EXCO
	        UNION ALL
	        SELECT MEMBER_NO, MEMBER_NICKNAME FROM TBL_NAVER_EXCO
	    	) W
	    WHERE W.MEMBER_NO = TBL_COMMENT.MEMBER_NO) AS commentWriter,
	    COMMENT_CONTENT AS commentContent,
	    COMMENT_DATE AS commentDate,
	    COMMENT_LIKE AS commentLike,
	    COMMENT_DISLIKE AS commentDislike
	FROM
	    TBL_COMMENT
	WHERE BOARD_NO = #{board_no}
	ORDER BY COMMENT_DATE DESC
	</select>
	
	<select id="insertBoardFileByFile"
	parameterType="boardFile">
	INSERT INTO TBL_FILE
	VALUES
	(TO_CHAR
		(SYSDATE, 'YYYYMMDDHH24MI') || LPAD(SEQ_BOARD.NEXTVAL, 4,'0'),
		#{boardNo},
		#{fileName},
		#{filePath}
		)
	</select>
	
	<delete id="deleteBoardByBoardNo"
	parameterType="string">
	DELETE
		TBL_BOARD
	WHERE
		BOARD_NO = #{boardNo}
	</delete>
	
	<update id="updateBoardByNewBoard"
	parameterType="board">
	UPDATE TBL_BOARD
		SET BOARD_TITLE = #{boardTitle},
			BOARD_CONTENT = #{boardContent},
			BOARD_TYPE = #{boardType}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteBoardFileByBoardNo"
	parameterType="string">
	DELETE
		FROM TBL_FILE
		WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<delete id="deleteBoardFileByFileId"
	parameterType="string">
	DELETE
		FROM TBL_FILE
        WHERE file_no = #{fileNo}
	</delete>
	
	<insert id="insertCommentByComment"
	parameterType="boardComment">
		INSERT INTO
			TBL_COMMENT
			(
				COMMENT_NO,
				BOARD_NO,
				MEMBER_NO,
				COMMENT_CONTENT
			)
			VALUES
			(
				TO_CHAR(SYSDATE, 'YYYYMMDDHH24MI') || LPAD(SEQ_COMMENT.NEXTVAL, 4, '0'),
				#{boardNo},
				#{memberNo},
				#{commentContent}
			)
	</insert>
	
	<delete id="deleteCommentByCommentNo"
	parameterType="string">
	DELETE
		FROM
			TBL_COMMENT
		WHERE
			COMMENT_NO = #{commentNo}
	</delete>
	
	<update id="updateCommentByComment"
	parameterType="boardComment">
	UPDATE TBL_COMMENT
		SET COMMENT_CONTENT = #{commentContent}
		WHERE COMMENT_NO = #{commentNo}
	</update>
</mapper>