<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">

    
   <!--  <select id="allCategory" resultMap="hobby">
        SELECT
            first_category_cd AS firstCategoryCd,
            first_category_nm AS firstCategoryNm,
            second_category_cd AS secondCategoryCd,
            second_category_nm AS secondCategoryNm,
            third_category_cd AS thirdCategoryCd,
            third_category_nm AS thirdCategoryNm
        FROM tbl_code
        WHERE first_category_cd LIKE 'A%'
    </select> -->

	<!-- 대분류 조회 -->
    <select id="getFirstCategories" resultType="map">
	    select distinct 
        	first_category_cd AS firstCategoryCd,
            first_category_nm AS firstCategoryNm
    	from tbl_code
    	where first_category_cd like 'A%'
	</select>

    <!-- 중분류 및 소분류 조회 -->
    <select id="getAllSubCategories" resultType="map">
	  	select
	        first_category_cd AS firstCategoryCd,
            first_category_nm AS firstCategoryNm,
            second_category_cd AS secondCategoryCd,
            second_category_nm AS secondCategoryNm,
            third_category_cd AS thirdCategoryCd,
            third_category_nm AS thirdCategoryNm
	    from tbl_code
	    where first_category_cd like 'A%'
	    order by first_category_cd, second_category_cd, third_category_cd
	</select>
	
	<select id="thirdCdListByThirdNmList"
    parameterType="list"
    resultType="string">
    SELECT
        THIRD_CATEGORY_CD AS thirdCategoryCd
    FROM
        TBL_CODE
    WHERE
    <foreach collection="list" item="keywords" open="(" separator=" OR " close=")">
        THIRD_CATEGORY_NM LIKE '%' || #{keywords} || '%'
    </foreach>
	</select>
	
	<update id="updateCategoriesCntByCdList"
	parameterType="list">
	MERGE INTO TBL_SEARCH TARGET
    USING (
        <foreach collection="list" item="thirdCdList" separator="UNION ALL">
            SELECT #{thirdCdList} AS THIRD_CATEGORY_CD FROM DUAL
        </foreach>
    ) SOURCE
    ON (TARGET.THIRD_CATEGORY_CD = SOURCE.THIRD_CATEGORY_CD)
    WHEN MATCHED THEN
        UPDATE SET TARGET.SRCH_CNT = TARGET.SRCH_CNT + 1
    WHEN NOT MATCHED THEN
        INSERT (THIRD_CATEGORY_CD, SRCH_CNT)
        VALUES (SOURCE.THIRD_CATEGORY_CD, 1)
	</update>
	
	<select id="viewRankKeywords"
	resultType="rank">
	SELECT
	    THIRD_CATEGORY_CD AS thirdCategoryCd,
	    NM AS thirdCategoryNm,
	    SRCH_CNT AS srchCnt
	FROM
	    (SELECT
	        THIRD_CATEGORY_CD,
	        (SELECT THIRD_CATEGORY_NM FROM TBL_CODE C WHERE C.THIRD_CATEGORY_CD = S.THIRD_CATEGORY_CD) AS NM,
	        SRCH_CNT
	        FROM
	            TBL_SEARCH S
	        ORDER BY SRCH_CNT DESC)
	WHERE ROWNUM &lt;11
	</select>
</mapper>